version: "2.4"
services:
  database:
    build:
      context: ./../../Assignment1/db_container
    ports:
      - 5005:5005
    networks:
      - mynetwork
  datappapi:
    build:
      context: ./../../Assignment1/data_pp_container
    depends_on:
      - database
    environment:
      - TRAININGDB_API='http://database:5005/training-db/housing'
    ports:
      - 5006:5006
    networks:
      - mynetwork   
  trainingapi:
    build:
      context: ./../../Assignment1/training-cp
    depends_on:
      - datappapi
    environment:
      - DB_API='http://datappapi:5006/db_preprocessing/housing'
    ports:
      - 5000:5000
    volumes:
      - "/home/ipek_ustunboyacioglu/models:/usr/src/myapp/models"
    networks:
      - mynetwork
    

networks:
  mynetwork: {}
