version: '2.8'
services:
  database:
    build:
      context: ./../db_container
    ports:
      - 5005:5005
    networks:
      - mynetwork
  datappapi:
    build:
      context: ./../data_pp_container
    depends_on:
      - database
    environment:
      - TRAININGDB_API=http://database:5005/training-db/housing
    ports:
      - 5006:5006
    networks:
      - mynetwork   
  trainingapi:
    build:
      context: ./../training-cp
    depends_on:
      - datappapi
    environment:
      - DB_API=http://datappapi:5006/db_preprocessing/housing
    ports:
      - 5001:5000
    volumes:
      - "/home/ipek_ustunboyacioglu/models:/usr/src/myapp/models"
    networks:
      - mynetwork
  prediction_service:
    build:
      context: ./../prediction-cp
    depends_on:
      - datappapi
      - trainingapi
    environment:
      - DB_API=http://datappapi:5006/db_preprocessing/housing
    ports:
      - 5000:5000
    volumes:
      - "/home/ipek_ustunboyacioglu/models:/usr/src/myapp/models"
    networks:
      - mynetwork
  store_service:
    build:
      context: ./../storeresults
    depends_on:
      - prediction_service
    ports:
      - 5008:5000
    volumes:
      - "/home/ipek_ustunboyacioglu/models:/usr/src/myapp/results"
    networks:
      - mynetwork 
    
    

networks:
  mynetwork: {}
